<div style="height: 80vh; display: flex; justify-content: center; align-items: center; flex-direction: column">
  <img src="https://www.giledia.com/assets/Logo_GileadM%C3%A9dia_Noir-fad4c61d3e255e1d9d144aa1bfc0c9404fea8b3ad2e998a2aba37c7fd8cba3c3.png">
  <div style="padding: 2.5em 0 0.5em 0">
    <p><%= flash[:alert] %></p>
  </div>
  <!-- <a href="#" id='host-link'>Revenir à l'accueil</a> -->
</div>
