<!-- Modal -->
<div class="modal fade" id="addFolderToSharedList" tabindex="-1" aria-labelledby="addFolderToSharedListTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 1px solid #dee2e6;">
        <div class="modal-title" id="addFolderToSharedListTitle">
          <h4 class="color-burgundy mb-0">Ajouter</h4>
          <h5 class="mb-0"><%= folder.title %></h5>
          <h4 class="color-burgundy mb-0">à...</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-body-title">Liste de partage</h5>
        <%= render 'folders/add_to_shared_list_forms', folder: folder, shared_list: shared_list, folder_shared_list: folder_shared_list %>
        <!-- TO KEEP: initial version to add folders or documents to shared list directly -->
        <%#= render 'add_to_shared_list_form', folder: folder %>
      </div>
    </div>
  </div>
</div>
