= simple_form_for [folder, folder_shared_list], url: attach_to_existing_shared_list_folder_path(folder), method: :post, html: { id: "add_folder_to_existing_shared_list" }, remote: true do |f|
  = f.association :shared_list, collection: current_user.shared_lists.initial, as: :radio_buttons, legend_tag: false
  = f.submit "Valider", class: "btn"
