<div class="container container-content">
  <h1>Ajouter le dossier "<%= @folder.title %>"</h1>
  <%= render 'folders/add_to_shared_list_forms', folder: @folder, shared_list: @shared_list, folder_shared_list: @folder_shared_list %>
</div>
