<div class="container container-content">
  <div class="cards">
    <% @folders.each do |folder| %>
      <%= render 'folders/card', folder: folder %>
      <%= render 'folders/add_to_shared_list_modal', folder: folder, shared_list: @shared_list, folder_shared_list: @folder_shared_list %>
      <%= render 'folders/add_to_shared_folder_modal', folder: folder, shared_folder: @shared_folder %>
    <% end %>
  </div>
</div>

<%= render 'shared/validation_modal', message: "" %>
