.container.container-content
  .cards
    - @folders.each do |folder|
      = render 'folders/card', folder: folder
      = render 'folders/add_to_shared_list_modal', folder: folder, shared_list: @shared_list
