= simple_form_for [document, shared_document], remote: true do |f|
  = f.association :shared_list, collection: current_user.shared_lists.initial, as: :radio_buttons, required: false, legend_tag: false
  .text-right = f.submit "Valider", class: "btn"
