// $(".modal#addDocumentToSharedDocument .modal-header h5").replaceWith("<h5><%= @documents.first.title %></h5>");
// $("form#new_shared_document").replaceWith("<%= j render('shared_documents/form', document: @documents.first, shared_document: @documents.first.shared_documents.new) %>");
$(".modal#addDocumentToSharedDocument").modal("hide")
$('.modal#validationModal').replaceWith("<%= j render('shared/validation_modal', message: @message) %>")
$('.modal#validationModal').modal("show")
