<div class="container container-content">
  <h1>Envoyer le document "<%= @document.title %>"</h1>
  <%= render 'form', document: @document, shared_document: @shared_document %>
</div>

<%= render 'shared/validation_modal', message: "" %>
