<% if notice %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if flash[:validation_message] %>
  <div data-controller = "show-modal">
    <%= render 'shared/validation_modal', message: flash[:message] %>
  </div>
<% end %>
