<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:emails_added_to_shared_list] %>
  <%= render 'shared_lists/emails_added_modal' %>
<% end %>
<% if flash[:shared_list_sent_to_contacts] %>
  <%= render 'shared_lists/sent_to_contacts_modal' %>
<% end %>
