<!-- Modal -->
<div class="modal fade" id="validationModal" tabindex="-1" aria-labelledby="validationModalTitle" aria-hidden="true" data-target='show-modal.modalId'>
<!-- <div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalTitle" aria-hidden="true"> -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center mb-3 mt-n3"><%= message %></p>
      </div>
    </div>
  </div>
</div>
