<!-- Modal -->
<div class="modal fade" id="addDocumentToFolderOrSharedList" tabindex="-1" role="dialog" aria-labelledby="addDocumentToFolderOrSharedListTitle" aria-hidden="true" data-target='show-modal.modalId'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDocumentToFolderOrSharedListTitle">Ajouter <%= document.title %> à</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if policy(document_shared_list).create? %>
          <p class="mb-2">Liste de partage</p>
          <%= render 'document_shared_lists/form', document: document, document_shared_list: document_shared_list %>
        <% end %>
        <% if policy(shared_list).create_and_attach_document? %>
          <p class="mb-2">Liste de partage</p>
          <% if shared_list.errors.messages[:code].present? %>
            <p class="alert-warning p-3">
              Une erreur s'est produite dans la génération du code associé à la liste de partage. Veuillez valider à nouveau votre saisie.
            </p>
          <% end %>
          <%= render 'shared_lists/create_and_attach_document_form', document: document, shared_list: shared_list %>
        <% end %>
        <% if policy([:admin, document]).add_to_folder? %>
          <p class="mb-2">Dossier(s)</p>
          <%= render 'documents/add_to_folder_form', document: document %>
        <% end %>
        <!-- TO KEEP: initial version to add folders or documents to shared list directly -->
        <%#= render 'add_to_shared_list_form', document: document %>
      </div>
    </div>
  </div>
</div>
