<!-- Modal -->
<div class="modal fade" id="addDocumentToFolderOrSharedList" tabindex="-1" role="dialog" aria-labelledby="addDocumentToFolderOrSharedListTitle" aria-hidden="true" data-target='show-modal.modalId'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="addDocumentToFolderOrSharedListTitle">
          <h4 class="color-burgundy mb-0">Ajouter</h4>
          <h5 class="mb-0"><%= document.title %></h5>
          <h4 class="color-burgundy mb-0">à...</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if policy(document_shared_list).create? %>
          <h5 class="modal-body-title">Liste de partage</h5>
          <%= render 'document_shared_lists/form', document: document, document_shared_list: document_shared_list %>
        <% end %>
        <% if policy(shared_list).create_and_attach_document? %>
          <h5 class="modal-body-title">Liste de partage</h5>
          <%= render 'shared_lists/create_and_attach_document_form', document: document, shared_list: shared_list %>
        <% end %>
        <% if policy([:admin, document]).add_to_folder? %>
          <h5 class="modal-body-title">Dossier(s)</h5>
          <%= render 'documents/add_to_folder_form', document: document %>
        <% end %>
        <!-- TO KEEP: initial version to add folders or documents to shared list directly -->
        <%#= render 'add_to_shared_list_form', document: document %>
      </div>
    </div>
  </div>
</div>
