<div id="documents-cards" >
  <div class="cards">
    <% if current_user.admin? %>
      <div class="card d-flex-default bg-grey">
        <%= link_to "+", new_admin_document_path, style: "font-size: 6rem", class: "font-weight-light btn-white-hover-red" %>
      </div>
    <% end %>
    <% unless documents.blank? %>
      <% documents.each do |document| %>
        <%= render 'card', document: document.decorate %>

        <%= render 'documents/add_to_shared_list_or_folder_modal', document: document, shared_list: @shared_list, document_shared_list: @document_shared_list %>
        <%= render 'documents/add_to_shared_document_modal', document: document, shared_document: @shared_document %>
      <% end %>
    <% end %>
  </div>
</div>
