<div id="documents-cards" >
  <% if documents.blank? %>
    <p>Aucun document ne correspond à vos critères de recherches.</p>
  <% end %>
  <div class="cards">
    <% if current_user.admin? %>
      <div class="card d-flex-default bg-grey">
        <%= link_to "+", new_admin_document_path, style: "font-size: 6rem", class: "font-weight-light btn-white-hover-red" %>
      </div>
    <% end %>
    <% documents.each do |document| %>
      <%= render 'card', document: document.decorate %>
    <% end %>
  </div>
</div>
