$(".modal#addDocumentToSharedListOrFolder .modal-header h5").replaceWith("<h5><%= @document.title %></h5>");

$("form#add_document_to_new_shared_list").replaceWith("<%= j render('documents/attach_to_new_shared_list_form', document: @document, shared_list: @shared_list) %>");
$("form#add_document_to_existing_shared_list").replaceWith("<%= j render('documents/attach_to_existing_shared_list_form', document: @document, document_shared_list: @document_shared_list) %>");
$("form#add_document_to_folder").replaceWith("<%= j render('admin/documents/attach_to_folder_form', document: @document) %>");

$(".modal#addDocumentToSharedListOrFolder").on('hidden.bs.modal', event => {
  $(".visible").toggleClass("invisible visible");
  $(".fa-sort-up").toggleClass("fa-sort-down align-self-end fa-sort-up");
})
