<div class="container container-content">
  <%= render 'search_form' %>
  <%= render 'list', documents: @documents %>
</div>

<%= render 'documents/add_to_shared_document_modal', document: @documents.first, shared_document: @shared_document %>
<%= render 'shared/validation_modal', message: "" %>
