<div class="container container-content">
  <%= render "documents/show_content", document: @document %>
</div>

<%= render 'documents/add_to_shared_list_or_folder_modal', document: @document, shared_list: @shared_list, shared_document: @shared_document %>
