= simple_form_for [folder, shared_folder], remote: true do |f|
  = f.association :shared_list, collection: current_user.shared_lists.initial, as: :radio_buttons, required: false, legend_tag: false
  = f.submit "Valider", class: "btn"
