<div class="container container-content">
  <h1>Envoyer le dossier "<%= @folder.title %>"</h1>
  <%= render 'form', folder: @folder, shared_folder: @shared_folder %>
</div>

<%= render 'shared/validation_modal', message: "" %>
