$(".modal#addFolderToSharedFolder .modal-header h5").replaceWith("<h5><%= @folder.title %></h5>");
$("form#new_shared_folder").replaceWith("<%= j render('shared_folders/form', folder: @folder, shared_folder: @shared_folder) %>");

// resize custom-mail inputs text to fit content
function autogrowTextArea(area) {
  if (area.offsetHeight != 0) {
    area.style.overflow = "hidden" // hide sroll bar
    area.style.height = `${area.scrollHeight + (area.offsetHeight - area.clientHeight)}px`
  }

  $(".modal#addFolderToSharedFolder").on('shown.bs.modal', (event) => {
    area.style.overflow = "hidden"
    area.style.height = `${area.scrollHeight + (area.offsetHeight - area.clientHeight)}px`
  })

  area.addEventListener('keyup', (event) => {
    area.style.overflow = "hidden"
    area.style.height = null
    area.style.height = `${area.scrollHeight + (area.offsetHeight - area.clientHeight)}px`
  })
}

var customMailBodyInput = document.getElementById("shared_folder_custom_mail_attributes_body")
var customMailSignatureInput = document.getElementById("shared_folder_custom_mail_attributes_signature")
autogrowTextArea(customMailBodyInput)
autogrowTextArea(customMailSignatureInput)

