.btn-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.btn {
  border: thin solid;
  // margin: 0.5rem 0;
  color: white !important;
  background-color: #C73442 !important;
  &:hover {
    color: #C73442 !important;
    background-color: white !important;
    opacity: 1 !important;
  }
}

.btn-white-hover-red {
  color: white;
  &:hover {
    color: #C73442 !important;
    opacity: 1;
  }
}

.btn:disabled, .btn:disabled:hover {
  // visibility: hidden;
  content:'goodbye';
}
