.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  @media(min-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media(min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    overflow: hidden;
    &-content{
      height: 100%;
      padding: 1rem;
    }
    &-infos {
    }
    &-actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 2rem;
    }
    &-illustration {
      padding: 2rem;
    }
    &-illustration-picto {
      padding: 3rem;
    }
    &-illustration, &-illustration-picto {
      height: 12rem;
    }
    &-illustration-text {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-illustration, &-illustration-picto, &-illustration-text {
      background-color: lightgray !important;
      > img, video {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.cards-one-element {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  height: auto;
  width: 100%;
  @media(min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  > .card-one-element-illustration {
    padding: 1rem;
    @media(min-width: 992px) {
      padding: 3rem;
    }
    > img, video {
      // padding: 3rem;
      height: 12rem;
      width: 100%;
      object-fit: contain;
    }
  }
  > .card-one-element-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    @media (min-width: 992px) {
      padding: 3rem;
    }
  }
}


.cards-devise {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  height: 50vh;
  width: 100%;

  > .card-devise {
    padding: 1rem;
    @media (min-width: 992px) {
      padding: 3rem;
    }
  }

  > .card-devise-illustration {
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.card, .card-one-element-illustration, .card-one-element-content, .card-devise {
  border: 1px solid #dee2e6;
}
