.tag-item {
  // display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  background-color: white;
  color: #C73442 !important;
  width: 100%;
  text-align: center;
  // border: thin solid #C73442;

  // &:hover {
  //   background-color: #C73442;
  //   color: white !important;
  //   border: thin solid white;
  // }
  // font-size: 0.7rem;
  // border-radius: 50rem;
  // padding: 0.1rem 0.5rem;
  // background-color: #ECEAFF;
  // color: #7E73FF;
  // border: 1px solid #7E73FF;
  // margin-right: 0.6rem;
  // margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #C73442;
  color: white !important;
  // border: thin solid white;
  // &:hover {
  //   background-color: white;
  //   color: #C73442 !important;
  //   border: thin solid #C73442;
  // }
}
