input::-webkit-file-upload-button {
  display: none !important;
  padding: 0.375rem 0.75rem;
}

input[type="file"] {
  outline: none;
}

input[type="file"]::before, input[type="file"]:hover::before {
  content: "Choisir un fichier";
  border: thin solid;
  margin: 0.5rem 1rem 0.5rem 0 !important;
  padding: 0.375rem 0.75rem;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="file"]::before {
  color: white !important;
  background-color: #C73442 !important;
}

input[type="file"]:hover::before {
  color: #C73442 !important;
  background-color: white !important;
  cursor: pointer;
}
