.simple_form.search {
  .form-group {
    margin-bottom: 0;
    flex-grow: 1;
  }
  [data-target="search.moreOptions"] {
    @media(max-width: 767px) {
      flex-direction: column;
      &.visible {
        .form-group {
          margin-bottom: 1rem;
        }
      }
      .form-group, button {
        width: 100%;
      }
    }
    @media(min-width: 768px) {
      .form-group, button {
        margin-left: 1rem;
        margin-right: 1rem;
      }
      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}

.simple_form.label-input-in-line, .simple_form.label-input-in-line-equal-space {
  label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .disabled {
      background: none;
      border: none;
    }
  }
  .form-group.disabled {
    padding-right: 0;
  }
}

.simple_form.label-input-in-line {
  .form-group {
    grid-template-columns: 1fr 4fr;
  }
}

.simple_form.label-input-in-line-equal-space {
  .form-group {
    grid-template-columns: 1fr 1fr;
  }
}
