.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.d-flex-column-between {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex-default {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  padding: 1rem 0;
  @media(min-width: 576px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.bg-grey {
  background-color: lightgray;
}

.color-gray {
  color: gray;
}
