.navbar-lewagon {
  justify-content: space-between;
  &-black {
    background: #262626;
    .nav-link {
      color: white !important;
      &:hover {
        color: #C73442 !important;
      }
    }
  }

  &-white {
    padding: 1rem 0;
    .nav-item {
      @media(min-width: 576px) {
        border-right: thin solid lightgray;
        &:last-child {
          border-right: none;
        }
        &:hover {
          background: #C73442;
        }
      }
      .nav-link {
        color: black;
        &:hover {
          color: white;
          opacity: 1;
        }
      }
    }
  }
}

.navbar-nav {
  @media(min-width: 576px) {
    align-items: center;
  }
}

.nav-link {
  @media(min-width: 576px) {
    text-align: center;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
