.table {
  // display: grid;
  display: -ms-grid;
  display: grid;
  &-users {
    // grid-template-columns: repeat(5, auto);
    // grid-gap: 2rem 1rem;
    -ms-grid-columns: auto 1rem auto 1rem auto 1rem auto 1rem auto;
    grid-template-columns: repeat(5, auto);
    grid-gap: 2rem 1rem;
    &-title {
      color: #C73442;
      font-weight: bold;
    }
    &-new-line {
      grid-column: 1
    }
    &-inputs {
      display: contents;
      > .form-group {
        margin-bottom: 0;
      }
    }
  }
}
