.table {
  display: grid;
  &-users {
    grid-template-columns: repeat(5, auto);
    grid-gap: 2rem 1rem;
    &-title {
      color: #C73442;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    &-new-line {
      grid-column: 1
    }
    &-inputs {
      display: contents;
      > .form-group {
        margin-bottom: 0;
      }
    }
  }
}
