.simple_form.search {
  .form-group {
    margin-bottom: 0;
    &.search_title {
      width: 100%;
    }
  }
  [data-target="search.moreOptions"] {
    @media(max-width: 767px) {
      flex-direction: column;
    }
    &.visible {
      .form-group {
        margin-bottom: 1rem;
      }
    }

  }
}
