.container.container-content
  .cards
    - DocumentDecorator.decorate_collection(@shared_list.documents).each do |document|
      = render 'documents/card', document: document
    - @shared_list.folders.each do |folder|
      = render 'folders/card', folder: folder
