<p>Cher(e) <%= @resource.first_name.capitalize %>,</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour le modifier.</p>

<table border="0" cellpadding="0" cellspacing="10" style="margin: 2em 0">
  <tbody>
    <tr>
      <td>
        <%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token), class: "btn" %>
      </td>
    </tr>
  </tbody>
</table>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.</p>
<p>Votre mot de passe ne sera pas réinitialisé tant que vous n'aurez pas cliqué sur ce lien et créé un nouveau mot de passe.</p>
