<div class="container py-5">
  <div class="table table-users">
    <div style="color: #C73442" class="table-users-new-line font-weight-bold">Prénom</div>
    <div class="font-weight-bold" style="color: #C73442">Nom</div>
    <div class="font-weight-bold" style="color: #C73442">E-mail</div>
    <div class="font-weight-bold" style="color: #C73442">Mot de passe</div>

    <% @users.each do |user| %>
      <div class="table-users-new-line"><%= user.first_name %></div>
      <div><%= user.last_name %></div>
      <div><%= user.email %></div>
      <!-- <div><%#= user.encrypted_password %></div> -->
    <% end %>

    <%= render 'form', user: @user %>
  </div>
</div>
