<div class="container container-content">
  <div class="table table-users">
    <div class="table-users-title table-users-new-line">Prénom</div>
    <div class="table-users-title">Nom</div>
    <div class="table-users-title">E-mail</div>
    <div class="table-users-title">Mot de passe</div>

    <% @users.each do |user| %>
      <div class="table-users-new-line"><%= user.first_name %></div>
      <div><%= user.last_name %></div>
      <div><%= user.email %></div>
      <!-- <div><%#= user.encrypted_password %></div> -->
    <% end %>

    <%= render 'form', user: @user %>
  </div>
</div>
